<style>
body {
	background-color: #15191c;
}
h1 {
    margin: 0.5em 0 0 0.5em !important;
    color: #dfdfdf;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
}
h2 {
    margin: 0 0 0 1em !important;
    color: #dfdfdf;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1em;
}
a:link {
    font-weight: bold;
    text-decoration: none;
    color: #0d8ba1;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #1a5952;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}
p {
    font: "Libre Baskerville", sans-serif;
    text-align: justify;
    text-justify: inter-word;
    width: 80%;
    max-width: 800;
    color: #dfdfdf;
}

</style>

<table style="width:100%">
<tr valign="top">
	<td style="vertical-align:top">
		<img src="https://covid19.sfb.uit.no/wp-content/uploads/2020/11/cropped-logo_corona-db-1-e1606312008786-192x192.png", height="100" width="100">
	</td>
	<td style="vertical-align:top">
		<h1>SARS-CoV-2 DB</h1>
		<br>
		<h2>Interactive visualization of current covid19 international status and availble sequence and metadata</h2>
	</td>


</tr>

</table>
